.barre {
  border-bottom: solid 2px;
  border-color: #839fad;
  text-align: justify;
}

.menu-4 {
  text-align: start;
  text-transform: uppercase;
  font-weight: 400;
}
.menu-4 * {
  box-sizing: 100vw;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu-4 li {
  display: inline-flex;
  justify-content: space-between;
  list-style: outside none none;
  margin-left: 100px;
  overflow: hidden;
}
.menu-4 a {
  padding: 0.3em 0;
  color: #ddb65b;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.menu-4 a:before,
.menu-4 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu-4 a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
}
.menu-4 a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: #ddb65b;
  white-space: nowrap;
}
.menu-4 li:hover a,
.menu-4 .current a {
  transform: translateY(100%);
}

h1 {
  color: #212121;
  font-weight: 100;
}

.rond {
  float: left;
  width: 25%;
  padding-left: 10px;
  height: 10%; /* Should be removed. Only for demonstration */
  border-radius: 50%;
  margin: 10px;
}

.row {
  align-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .rond {
    width: 100%;
  }
  .logo {
    display: none;
  }
}

/* ---------------- */
.col-lg-12 {
  background-image: url(mushroom-5475042_1920.jpg);
  background-attachment: fixed;
}
.img-fluid{
    height: 600px;
}
.card-body{
    
}